@inherits MainLayoutComponent

@using Radzen.Blazor
<RadzenNotification/>

<RadzenLayout>
    <RadzenHeader @ref="header">
        <div class="d-flex align-items-center justify-content-center" style="height: 8vh; width: 100%;">
            <div class="text-center" style="font-size: 20px">
                My Application
            </div>
        </div>
    </RadzenHeader>
    <RadzenBody @ref="body">
        <ChildContent>
            <RadzenContentContainer Name="main">
                @Body
            </RadzenContentContainer>
        </ChildContent>
    </RadzenBody>
</RadzenLayout>