@inherits LayoutComponentBase
@inject NavigationManager Navigation
@using Radzen.Blazor
<RadzenNotification/>

<RadzenLayout>
    <RadzenHeader>
        <div class="d-flex align-items-center justify-content-center" style="height: 8vh; width: 100%;">
            <div class="text-center" style="font-size: 20px">
                My Application
            </div>
        </div>
        <RadzenMenu style="margin-left: 10%">
            <RadzenMenuItem Text="@_menuButtonText" Icon="@_icon" Click="@_menuButtonClickHandler" />
        </RadzenMenu>
    </RadzenHeader>
    <RadzenBody>
        @Body
    </RadzenBody>
</RadzenLayout>

@code
{
    private string _menuButtonText;
    private Action _menuButtonClickHandler;
    private string _icon;

    protected override async Task OnInitializedAsync()
    {
        string curPath = Navigation.Uri.Replace(Navigation.BaseUri, "");
        if (curPath.Equals(""))
        {
            _menuButtonText = "Lista wgranych reklam";
            _menuButtonClickHandler = MoveToList;
            _icon = "list";
        }
        else
        {
            _menuButtonText = "Powrót";
            _menuButtonClickHandler = MoveToMenu;
            _icon = "home";
        }
    }

    private void MoveToMenu()
    {
        Navigation.NavigateTo("/");
        _menuButtonClickHandler = MoveToList;
        _menuButtonText = "Lista wgranych reklam";
        _icon = "list";
    }

    private void MoveToList()
    {
        Navigation.NavigateTo("/tracks");
        _menuButtonText = "Powrót";
        _menuButtonClickHandler = MoveToMenu;
        _icon = "home";
    }

}